/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */
.main{
    padding-top: 70px;

}

#header .navbar{
    background-color: #fff;
    opacity: 0.9;
    border-radius: 0;
    border-top:0;
    border-left:0;
    border-right:0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 24px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: inherit;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    -webkit-box-shadow:  none;
    box-shadow:  none;
    -webkit-transition: none;
    -o-transition:  none;
    transition: none;

}
.form-control:active {
    border-bottom: 1px solid #bd9f86;
}
.form-control:focus {
    border-bottom: 1px solid #bd9f86;
}


textarea{
    resize: none;
    overflow: hidden;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
}

/* =====================================================================================================================
A KÜLDES GOMB STILUSA
/* ===================================================================================================================*/
#send {
    color: #000000;
    background-color: #ffffff;
    border-color: #977f6b;
    border-radius: 0;
}

#send:hover{
    box-shadow: 0 0 20px #bd9f86;
}

#send:active {
    background-color: #bd9f86;
    box-shadow: 0 0 5px #bd9f86;
}

#send:focus {
    outline: 0;
    box-shadow: 0 0 5px #bd9f86;
}

/* =====================================================================================================================
EGYEB
/* ===================================================================================================================*/
p{
    font-size: 18px;
}
h1{
    font-size: 60px;
}
.lab{
    font-size:12px;
}

/* =====================================================================================================================
A STILUSA AZ ANIMACIOKNAK ES A HIBA BUBOREKOKNAK
/* ===================================================================================================================*/
@keyframes appearlittle{
    from { transform: translate(0, -100%) scale(0, 0); }
    to { transform: translate(0, -100%) scale(1, 1); }
}

@keyframes disappearlittle{
    from { transform: translate(0, -100%) scale(1, 1); }
    to { transform: translate(0, -100%) scale(0, 0); }
}

.appear{
    animation: appearlittle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.disappear {
    animation: disappearlittle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.alert {
    padding: 5px;
    transform: scale(0, 0);
    margin-bottom: -50%;
    border-radius: 0;
    border:1px solid transparent;
    font-size: 15px;
}
.alert-danger{
    color:#c43b4d;
    background-color:#e4b9b9;
    border-color:#bd9f86;
}

.big {
    margin-top: 50px;
}

.contactform {
    position: relative;
    /*animation: slideOutLeft;*/
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.slideout{
    animation: slideOutLeft;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@-webkit-keyframes slideInRightThankYou {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

.thankyou {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slidein{
    animation: slideInRightThankYou;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

/*input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /!* Change the color to your own background color *!/
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;
}*/
/* =====================================================================================================================
    xs
===================================================================================================================== */
@media (max-width: 767px) {
    h1{
        font-size: 36px;
    }
    .main{
        padding-top:50px;
    }

    .alert {
        margin-bottom: -25px;
        margin-top: 25px;
        position: relative;
    }
}
/* =====================================================================================================================
    sm
===================================================================================================================== */
@media (min-width: 768px)and (max-width: 991px){
    h1{
        font-size: 36px;
    }
    .main{
        padding-top:50px;
    }

    .alert {
        margin-bottom: -25px;
        margin-top: 25px;
        position: relative;
    }

}
/* =====================================================================================================================
    md
===================================================================================================================== */
@media (min-width: 992px)and (max-width: 1199px){


}
/* =====================================================================================================================
    lg
===================================================================================================================== */
@media (min-width: 1200px){


}
