/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */
body{
    font-family: 'Oxygen', sans-serif;
    /*font-family: "raleway",sans-serif;*/
    font-size: 18px;
    width: 100%;

    -webkit-animation-name: megjelenes ; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -moz-animation-name: megjelenes ; /* Chrome, Safari, Opera */
    -moz-animation-duration: 2s; /* Chrome, Safari, Opera */
    -o-animation-name: megjelenes ; /* Chrome, Safari, Opera */
    -o-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: megjelenes ;
    animation-duration: 2s;
}
/*majd kérdezd meg, hogy ez miért van itt... röviden enélkül nem megy a parallax.......*/
/*body.nofade {
    -webkit-animation-name: none ;
    -webkit-animation-duration: 4s;
    -moz-animation-name: megjelenes ;
    -moz-animation-duration: 4s;
    -o-animation-name: megjelenes ;
    -o-animation-duration: 4s;
    animation-name: none ;
    animation-duration: 4s;
}*/

.main {
    padding-top: 50px;
}

p{
    font-size: 24px;
}
h1{
    font-size: 60px;
}
h2{

}
h3{

}

/* =====================================================================================================================
  HEADER
===================================================================================================================== */
.navbar-default{
    background-color: white;
    border-color:black;
}
.navbar-default .navbar-nav > li > a {
    color:#000000;
}
.navbar-default .navbar-nav > li > a:hover {
    color:#c0c0c0;
}
.navbar-right{
    margin-right: 0;
}
.navbar-default .navbar-brand{
    color:#000000;
    font-size:36px;
}
.navbar{
    background-color: #fff;
    opacity: 0.9;
    border-radius: 0;
    border-top:0;
    border-left:0;
    border-right:0;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;

}

/* =====================================================================================================================
  FOOTER
===================================================================================================================== */
footer .navbar-default{
    margin-top:10px;
    padding-top:10px;
    padding-left:15px;
    padding-right:15px;
    font-size: 12px;
    border-top:1px solid #000000;
    border-bottom:0;
    color:black;

}
footer a{
    color:#c0c0c0;
}
footer p{
    font-size: 12px;

}
/* =====================================================================================================================
  KEYFRAMES
===================================================================================================================== */

/* Chrome, Safari, Opera */
@-webkit-keyframes megjelenes {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}

@-moz-keyframes megjelenes {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}

@-o-keyframes megjelenes {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}

/* Standard syntax */
@keyframes megjelenes {
    0%   {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}
