/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */
p{
    font-size: 18px;
}
h1{
    font-size: 60px;
}

#header .navbar{
    background-color: #fff;
    opacity: 0.9;
    border-radius: 0;
    border-top:0;
    border-left:0;
    border-right:0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 24px;
}

/* =====================================================================================================================
    xs
===================================================================================================================== */
@media (max-width: 767px) {
    h1{
        font-size: 36px;
    }
    .main{
        padding-top:50px;
    }
}
/* =====================================================================================================================
    sm
===================================================================================================================== */
@media (min-width: 768px)and (max-width: 991px){
    p{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }

}
/* =====================================================================================================================
    md
===================================================================================================================== */
@media (min-width: 992px)and (max-width: 1199px){
    p{
        font-size: 14px;
    }

}
/* =====================================================================================================================
    lg
===================================================================================================================== */
@media (min-width: 1200px){


}