/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */
#header .navbar{
    background-color: #fff;
    opacity: 0.9;
    border-radius: 0;
    border-top:0;
    border-left:0;
    border-right:0;
    font-family: 'Yantramanav', sans-serif;
    font-size: 24px;
}

.kozkep {
    position: relative;
    top: -20px;
    -webkit-animation-name: eltunes; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    transform: perspective(640px) rotatex(0deg);
    animation-name: eltunes;
    animation-duration: 2s;

}

.main{
    overflow: hidden;
}
h1{
    font-size:60px;
    font-family: 'Yantramanav', sans-serif;

}
h2{
    font-family: 'Yantramanav', sans-serif;
    font-size:42px;
}
h3{
    font-family: 'Yantramanav', sans-serif;
    font-size:36px;

}
p{


}
/*elvalasztok*/
.fillin{

    height: 150px;
}
.fillin-1{



}
.fillin-2{



}
.fillin-3{



}
/*mobil*/

.mobil .img-responsive{
    margin-left:auto;
    margin-right:auto;

}
/*gyorsasag*/
.gyorsasag{
    background-color: #eeeeee;
}
.gyorsasag span{
    font-family: 'Yantramanav', sans-serif;
    font-size:48px;
    color:#bd9f86;
    padding-top: 0;
}

.gyorsasag a{
    color:#bd9f86;
    font-size:24px;
}


.gyorsasag small{

    font-size:18px;
}
/*socialmarketing*/
.socialmarketing .img-responsive{
    margin-left:auto;
    margin-right:auto;

}
.socialmarketing a{
    color:#bd9f86;
    font-size:24px;
}
/*seo*/
.seo{
    background-color: #eeeeee;
}
.seo a{
    color:#bd9f86;
    font-size:24px;
}

/* =====================================================================================================================
    xs
===================================================================================================================== */
@media (max-width: 767px) {


}
/* =====================================================================================================================
    sm
===================================================================================================================== */
@media (min-width: 768px)and (max-width: 991px){


}
/* =====================================================================================================================
    md
===================================================================================================================== */
@media (min-width: 992px)and (max-width: 1199px){


}
/* =====================================================================================================================
    lg
===================================================================================================================== */
@media (min-width: 1200px){


}
/* =====================================================================================================================
  KEYFRAMES
===================================================================================================================== */

@-webkit-keyframes eltunes {
    0% {
        transform: perspective(640px) rotatex(60deg);
    }
    100% {
        transform: perspective(640px) rotatex(0deg);
    }
}
/* Standard syntax */
@keyframes eltunes {
    0% {
        transform: perspective(640px) rotatex(60deg);
    }
    100% {
        transform: perspective(640px) rotatex(0deg);
    }
}
