/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */

.kozkep {
    position: relative;
    top: -20px;
    -webkit-animation-name: eltunes; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    transform: perspective(640px) rotatex(0deg);
    animation-name: eltunes;
    animation-duration: 2s;

}

.mobil .img-responsive{
    margin-left:auto;
    margin-right:auto;

}
.main{
    overflow: hidden;
}
h1{
    font-size:72px;
    font-family: 'Yantramanav', sans-serif;

}
h2{
    font-family: 'Yantramanav', sans-serif;
    font-size:42px;
}
h3{
    font-family: 'Yantramanav', sans-serif;
    font-size:36px;

}
p{


}
.gyorsasag{
    background-color: #eeeeee;
}
.gyorsasag span{
    font-family: 'Yantramanav', sans-serif;
    font-size:42px;
    color:#bd9f86;
    padding-top: 0;
}
.fillin-1{

    height: 150px;

}


/* =====================================================================================================================
    xs
===================================================================================================================== */
@media (max-width: 767px) {


}
/* =====================================================================================================================
    sm
===================================================================================================================== */
@media (min-width: 768px)and (max-width: 991px){


}
/* =====================================================================================================================
    md
===================================================================================================================== */
@media (min-width: 992px)and (max-width: 1199px){


}
/* =====================================================================================================================
    lg
===================================================================================================================== */
@media (min-width: 1200px){


}
/* =====================================================================================================================
  KEYFRAMES
===================================================================================================================== */

@-webkit-keyframes eltunes {
    0% {
        transform: perspective(640px) rotatex(60deg);
    }
    100% {
        transform: perspective(640px) rotatex(0deg);
    }
}
/* Standard syntax */
@keyframes eltunes {
    0% {
        transform: perspective(640px) rotatex(60deg);
    }
    100% {
        transform: perspective(640px) rotatex(0deg);
    }
}
