/* =====================================================================================================================
  ALAP BEALLITASOK
===================================================================================================================== */



/* =====================================================================================================================
    xs
===================================================================================================================== */
@media (max-width: 767px) {


}
/* =====================================================================================================================
    sm
===================================================================================================================== */
@media (min-width: 768px)and (max-width: 991px){


}
/* =====================================================================================================================
    md
===================================================================================================================== */
@media (min-width: 992px)and (max-width: 1199px){


}
/* =====================================================================================================================
    lg
===================================================================================================================== */
@media (min-width: 1200px){


}
/* =====================================================================================================================
  KEYFRAMES
===================================================================================================================== */

/* Chrome, Safari, Opera */
@-webkit-keyframes nev {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}
@-moz-keyframes nev {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}
@-o-keyframes nev {
    0% {
        opacity: 0;
        filter: Alpha(opacity=00);
    }
    100% {
        opacity: 1;
        filter: Alpha(opacity=100);
    }
}
/* Standard syntax */
@keyframes nev {
    0%   {opacity: 0;
        filter: Alpha(opacity=00);}
    100% { opacity: 1;
        filter: Alpha(opacity=100);}
}
